html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(205, 231, 255);
    padding: 0;
    margin: 0;
    align-content: center;
    box-sizing: border-box;
}

@media (max-width: 768px){
    body {
        zoom: 0.55;
    }
    h1 {
        font-size: 28px !important;
        padding: 22px !important;
    }
    p {
        font-size: 14px !important;
    }

    #janelaCentral {
        width: 548px !important;
        margin-left: 1px !important;
    }

    button#botaoRemover {
        font-size: 28px !important;
        top: -2px !important;
        margin-left: 4px !important;
    }

    button#botaoAdd {
        font-size: 40px !important;
        margin-top: 8px !important;
        margin-left: 5px !important;
    }

    input#checkbox {
        top: -70px !important;
        margin-left: 85px !important;
        height: 22px !important;
        width: 22px !important;
        
    }
}

.fundoJanelaCentral {
    position: relative;
    margin-top: 0;
    box-sizing: border-box;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    height: 592px;
    width: 582px;
    border-radius: 5px;
    background-color: #002f6d;
    
}

#janelaCentral {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    height: 425px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-y: overlay;
    z-index: 2;
}

.barraInferior {
    position: relative;
    margin-left: 3px;
    margin-right: 2.5px;
    background-color: white;
    height: 479px;
    width: 576px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(233, 233, 233);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 0;
}
::-webkit-scrollbar-track {
    background-color: rgb(210, 210, 210);
    margin: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}

.grupoDados {
    box-sizing: border-box;
}

textarea {
    font-size: 14px;
    height: 18px;
    width: 59px;
    text-align: left;
    padding: 2px;
    text-indent: 3px;
    border-radius: 3px;
    resize: none;
    outline: none;
    margin-left: 7px;
    margin-right: 7px;
    border-color: rgb(209, 209, 209);
    font-weight: bold;
}

textarea#textMotivo {
    width: 170px;
    height: 18px;
    font-size: 14px;
    padding: 2px;

}

textarea#textTempo {
    width: 50px;
    height: 18px;
    font-size: 14px;
    padding: 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
}

h1 {
    position: relative;
    margin-top: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 42px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

button#botaoAdd {
    position: absolute;
    margin: 7px;
    left: 541px;
    height: 20px;
    width: 20px;
    font-size: 22px;
    padding: 0;
    line-height: 0;
    background-color: #ffffff00;
    border: none;
    color: #8b8b8b;
    font-weight: bold;
}
button#botaoAdd:hover {
    color: #002f6d;
    border-radius: 3px;
}

input#checkbox {
    position: relative; 
    top: -60px;
    margin-left: 81.5px;
    
}

button#botaoRemover {
    position: relative;
    top: -8px;
    right: 5px;
    height: 20px;
    width: 20px;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-indent: 1px;
    line-height: 0px;
    background-color: #ffffff00;
    border: none;
    color: #8b8b8b;
}
button#botaoRemover:hover {
    color: red;
    border-radius: 3px;
}




/*--------------- LINHA DE CADOS -------------*/


.linhaDeDados {
    display: flex;
    flex-direction: row;
    margin-right: 1px;
}

.verde {
    background-color: #c1fed2;
}

