body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(185, 221, 255);
    overflow-y: auto;
    padding: 0;
    margin: 20px;
    overflow: hidden;

}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.fundoJanelaCentral {
    position: relative;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 820px;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    
}

#janelaCentral {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 490px;
    height: 490px;
    width: 710px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px;
    border-radius: 3px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    overflow-y: auto;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgb(210, 210, 210);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border: none;
    border-radius: 5px;
}

textarea {
    font-size: 16px;
    height: 20px;
    width: 100px;
    text-align: left;
    padding: 5px;
    border-radius: 3px;
    resize: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    border-color: rgb(209, 209, 209);
}

textarea#textMotivo {
    width: 230px;
    font-size: 14px;
    line-height: 20px;

}

p {
    margin-left: 12px;
}

button#botaoAdd {
    position: absolute;
    top: 35px;
    right: 0px;
    height: 32px;
    width: 32px;
    font-size: 25px;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #00287d;
    border: 1px solid #6b8acb;
    border-radius: 3px;
}
button#botaoAdd:hover {
    background-color: #064adc;
    color: white;
    border: 1px solid #064adc;
}

button#botaoEnviar {
    position: relative;
    top: -7px;
    height: 32px;
    width: 32px;
    margin-left: 0px;
    font-size: 25px;
    padding: 0;
    text-align: center;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: gray;
}
button#botaoEnviar:hover {
    color: rgb(10, 2, 255);
    border: solid 1px rgb(167, 193, 254);
    border-radius: 3px;
}

button#botaoRemover {
    position: relative;
    top: -11px;
    height: 32px;
    width: 32px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    text-align: center;
    line-height: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(169, 169, 169);
}
button#botaoRemover:hover {
    color: red;
    border: solid 1px rgb(255, 178, 178);
    border-radius: 3px;
}




/*--------------- LINHA DE CADOS -------------*/


.linhaDeDados {
    display: flex;
    flex-direction: row;
}


